<?php
    $activeItem = BackendMenu::getActiveMainMenuItem();
    $mySettings = System\Classes\SettingsManager::instance()->listItems('mysettings');
$navbarMode = Backend\Models\BrandSetting::get('menu_mode', 'inline');
?>
<nav class="navbar control-toolbar navbar-mode-<?= $navbarMode ?>" id="layout-mainmenu" role="navigation">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar">
            <?php if(count(BackendMenu::listSideMenuItems())>0 or \Request::segment(2)=="backend" or
            \Request::segment(2)=="system" ): ?>
            <ul class="nav mainmenu-nav">
                <li class="svg-icon-container svg-active-effects">
                    <a href="#" id="button-collapse">
                            <span class="nav-icon">
                                <i class="icon icon-reorder"></i>
                            </span>
                    </a>
                </li>
                <?php endif ?>
            </ul>
        </div>
    </div>
    <div class="toolbar-item" data-calculate-width>
        <ul class="mainmenu-toolbar">
            <?php if(config("entopancore.skin2::search")): ?>
            <?php if ($this->user->hasAccess('entopancore.extendbackend.search')): ?>
            <li class="hidden-xs">
                <form class="form-inline" action="<?= \Backend::url('entopancore/extendbackend/search') ?>">
                    <div style="height: 20px; margin-top: 2px">
                    <input value="<?= get('q') ?>" style="margin-right: 5px" placeholder="Ricerca" class="form-control" type="text" name="q">
                    <input  class="btn btn-primary" type="submit" value="Ricerca">
                    </div>
                </form>
            </li>
            <?php endif ?>
            <?php endif ?>
            <li class="mainmenu-preview with-tooltip">
                <a
                        href="<?= URL::to('backend') ?>"
                        title="Dashboard">
                    <i class="icon icon-home"></i>
                </a>
            </li>
            <?php if(config("entopancore.skin2::preview")): ?>
            <li class="mainmenu-preview with-tooltip">
                <a
                        href="<?= config('app.url_frontend')?>"
                        target="_blank"
                        title="<?= e(trans('backend::lang.tooltips.preview_website')) ?>">
                    <i class="icon-crosshairs"></i>
                </a>
            </li>
            <?php endif ?>
            <li class="mainmenu-account">
                <a href="javascript:;">
                    <span class="account-name hidden-xs">
                        <?= e($this->user->first_name.' '.$this->user->last_name) ?>
                    </span>
                    <img style="border-radius: 50px"
                         src="<?= $this->user->getAvatarThumb(90, ['mode' => 'crop', 'extension' => 'png']) ?>"
                         class="account-avatar"/>
                </a>
                <a href="<?= Backend::url('backend/auth/signout') ?>">
                    <?= e(trans('backend::lang.account.sign_out')) ?>
                </a>
            </li>
        </ul>
    </div>
</nav>
