<?php
    $context = BackendMenu::getContext();
    $contextSidenav = BackendMenu::getContextSidenavPartial($context->owner, $context->mainMenuCode);
?>
<?php if (!$contextSidenav): ?>
<?php $sideMenuItems = BackendMenu::listSideMenuItems();  ?>
<?php if ($sideMenuItems): ?>

<div class="layout-cell sidenav-tree bg-p" style="display: none" data-control="sidenav-tree" data-search-input="#settings-search-input">
    <div class="layout">
        <div class="layout-row">
            <div class="layout-cell">
                <div class="layout-relative">
                    <div class="layout-absolute">
                        <div class="control-scrollbar" data-control="scrollbar">
                            <?php if ($sideMenuItems): ?>
                            <?php
                            $collapsedGroups = explode('|', isset($_COOKIE['sidenav_treegroupStatus']) ? $_COOKIE['sidenav_treegroupStatus'] : null);
                            $categories = [];
                            foreach ($sideMenuItems as $sideItemCode => $item){
                            if(!property_exists($item, 'group'))
                            $item->group = 'default';
                            if(!property_exists($item, 'keywords'))
                            $item->keywords = '';
                            if(!property_exists($item, 'description'))
                            $item->description = '';
                            $categories[$item->group][$sideItemCode] = $item;
                            }
                            ?>
                            <?php  if($context->mainMenuCode==='cms' or $context->mainMenuCode==='builder'): ?>
                            <nav
                                    id="layout-sidenav"
                                    class="layout-sidenav bg-p"
                                    data-active-class="active"
                                    data-control="sidenav">
                                <ul class="nav">
                                    <?php foreach ($sideMenuItems as $sideItemCode => $item): ?>
                                    <li
                                            class="<?= BackendMenu::isSideMenuItemActive($item) ? 'active' : null ?>"
                                    <?= Html::attributes($item->attributes) ?>
                                    >
                                    <a href="<?= $item->url ?>">
                                    <span class="nav-icon">
                                        <i class="<?= $item->icon ?>"></i>
                                    </span>
                                        <span class="nav-label">
                                        <?= e(trans($item->label)) ?>
                                    </span>
                                    </a>
                                    <span
                                            class="counter <?= $item->counter === null ? 'empty' : null ?>"
                                            data-menu-id="<?= e($context->mainMenuCode.'/'.$sideItemCode) ?>"
                                    <?php if ($item->counterLabel): ?>title="<?= e(trans($item->counterLabel))
                                    ?>"<?php endif ?>
                                    >
                                    <?= e($item->counter) ?>
                                    </span>
                                    </li>
                                    <?php endforeach ?>
                                </ul>
                                <?php else: ?>
                                <ul class="top-level">
                                    <?php foreach ($categories as $category => $items):

                                    $collapsed = in_array($category, $collapsedGroups);
                                    ?>
                                    <li data-group-code="<?= e($category) ?>"
                                    <?= $collapsed ? 'data-status="collapsed"' : null ?>>
                                    <div class="group">
                                        <h3><?= $category ?></h3>
                                    </div>
                                    <ul>
                                        <?php foreach ($items as $item): ?>
                                        <li class="<?= BackendMenu::isSideMenuItemActive($item) ? 'active' : null ?>"
                                            data-keywords="<?= e(trans($item->keywords)) ?>">
                                            <a style="padding: 18px 5px 10px 20px;" href="<?= $item->url ?>">
                                                <span class="header"><?= e(trans($item->label)) ?></span>
                                                <span class="description"><?= e(trans($item->description)) ?></span>
                                            </a>
                                        </li>
                                        <?php endforeach ?>
                                    </ul>
                                    </li>
                                    <?php endforeach ?>
                                </ul>

                                <?php endif; ?>
                                <?php endif; ?>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<?php endif ?>
<?php else: ?>
<?= $this->makePartial($contextSidenav) ?>
<?php endif ?>
