<?php if(isset($items)): ?>
<div style="background: #2e4960">
    <div class="container-fluid">
        <div class="control-toolbar" style="padding: 10px 0 10px 0;">
            <div class="toolbar-item toolbar-primary">
                <div data-control="">
                    <?php foreach($items as $item): ?>
                    <?php if(isset($item->dashboard)): ?>
                    <div style="margin-right: 3px; margin-bottom: 3px;" class="dropdown">
                        <a style="border-radius: 0px" href="#" data-toggle="dropdown"
                           class="btn btn-default oc-<?= $item->icon ?>"><?= trans($item->label) ?></a>
                        <?php if(count($item->sideMenu)): ?>
                        <ul class="dropdown-menu" role="menu" data-dropdown-title="<?= trans($item->label) ?>">
                            <?php foreach($item->sideMenu as $side): ?>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="<?= $side->url ?>"
                                   class="oc-<?= $side->icon ?>"><?= trans($side->label) ?></a></li>
                            <?php endforeach ?>
                        </ul>
                        <?php endif ?>
                    </div>
                    <?php endif ?>
                    <?php endforeach ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif ?>
<style>
    .control-toolbar .toolbar-item
    {
        white-space: inherit;
    }
</style>