label {
    display: inline-block;
    margin-bottom: 3px;
    color: #34495e;
    font-family: Tahoma, Geneva, sans-serif;
}

.form-control, .select2-container--default .select2-selection--single .select2-selection__rendered, .field-recordfinder .primary {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 200;
}

textarea {
    line-height: 1.8em !important;
}

table.table.data thead td > a, table.table.data thead th > a, table.table.data thead td > span, table.table.data thead th > span {
    color: #34495e;
}

.sidenav-tree ul.top-level > li > div.group h3 {
    background: rgba(0, 0, 0, 0.15);
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    padding: 14px 10px 13px 40px;
    margin: 0;
    position: relative;
}

.sidenav-tree ul.top-level > li > div.group h3:before {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 16px;
    top: 12px;
    color: white;
}

.sidenav-tree ul.top-level > li > ul li a {
    padding: 18px 5px 10px 35px;
}

.sidenav-tree ul.top-level > li > ul li:hover {
    cursor: pointer !important;
}

.sidenav-tree ul.top-level > li > ul li a i {
    left: 10px;
    top: 20px;
    font-size: 15px;
}

.sidenav-tree ul.top-level > li > ul li a span.header {
    color: #ffffff;
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 2px
}

.sidenav-tree ul.top-level > li > ul li a span.description {
    font-size: 10px;
}

nav#layout-mainmenu ul li a {
    display: inline-block;
    font-size: 11px;
    color: inherit;
    outline: none;
    text-shadow: none;
    padding: 14px 0 10px
}

nav#layout-mainmenu.navbar-mode-tile ul.mainmenu-nav li {
    padding: 0 2px;
    margin: 8px 0 0;
}

.flyout-toggle {
    top: 150px;
    z-index: 100000;
}

.control-breadcrumb li {
    font-size: 11px;
    padding: 12px 10px 12px 25px;
}

.control-breadcrumb li:after, .control-breadcrumb li:before {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

@media all and (max-width: 768px) {

    .sidenav-tree > .layout {
        display: table;
    }

    .sidenav-tree {
        width: 100%;
    }

    nav#layout-mainmenu.navbar ul.nav {
        display: block;
    }
}

nav#layout-mainmenu.navbar-mode-tile ul.mainmenu-toolbar li.mainmenu-account > a {
    height: 40px;
    line-height: 40px;
}

nav#layout-mainmenu.navbar-mode-tile ul.mainmenu-toolbar li.mainmenu-preview a {
    height: 40px;
    line-height: 40px;
}

nav#layout-mainmenu.navbar-mode-tile {
    height: 30px;
    line-height: 30px;
}

nav#layout-mainmenu ul.mainmenu-toolbar li.mainmenu-account img.account-avatar {
    width: 30px;
}

nav#layout-mainmenu.navbar-mode-tile ul.mainmenu-nav li a {
    position: relative;
    width: 25px;
    height: 25px;
}

nav#layout-mainmenu.navbar-mode-tile ul.mainmenu-nav li:first-child {
    margin-left: 10px;
}

nav#layout-mainmenu.navbar-mode-tile ul.mainmenu-nav li {
    padding: 0 0px;
    margin: 0px 0 0;
}

nav#layout-mainmenu ul li a i {
    line-height: 1;
    font-size: 22px;
    vertical-align: middle;
}

nav#layout-mainmenu.navbar-mode-tile ul.mainmenu-nav li a .nav-icon {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
}

nav#layout-mainmenu {
    padding: 0px;
}

nav#layout-mainmenu.navbar-mode-tile ul li .mainmenu-accountmenu {
    top: 47px;
    right: 13px;
}

.extendbackend-dashboard .col > div a:hover {
    text-decoration: none;
}

.relation-behavior.relation-view-single {
    background: #ffffff;
    padding: 20px;
    margin: 0px;
}

.width-15 {
    width: 15% !important;
    margin-right: 1%;
}

.width-33 {
    width: 32.3% !important;
    margin-right: 1%;
}

.width-66 {
    width: 65.7% !important;
    margin-right: 1%;
}

.width-25 {
    width: 24% !important;
    margin-right: 1%;
}

.callout.no-subheader > .header i {
    margin-top: 0px;
}

.callout .control-toolbar {
    padding: 0 0 20px 0 !important;
}

.btn.btn-danger {
    color: #ffffff;
    background: rgba(171, 42, 28, 0.95);
    border-color: #ab2a1c
}

.btn.btn-success {
    color: #ffffff;
    background: rgba(33, 171, 29, 0.95);
    border-color: rgba(33, 171, 29, 0.95);
}

.btn.btn-info {
    color: #ffffff;
    background: rgba(59, 154, 171, 0.95);
    border-color: rgba(59, 154, 171, 0.95);
}

.text-uppercase {
    text-transform: uppercase;
}

label {
    display: inline-block;
    margin-bottom: 3px;
    color: black;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Helvetica;
}

table.table.data tbody tr.rowlink:hover td, table.table.data tbody tr:not(.no-data).selected td {
    background: rgba(83, 83, 84, 0.2) !important;
    color: #ffffff
}

.help-block {
    font-size: 11px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 400;
    text-transform: none;
    line-height: 1.1em;
}

.field-repeater li.field-repeater-item:before {
    color: #ab2a1c !important;
}

.field-section {
    border-bottom: 1px solid #d1d6d9;
    padding-top: 3px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding: 0px 0px 5px;
}

.field-section > p:first-child, .field-section > h4:first-child {
    font-weight: 900;
    color: #ab2a1c !important;
    letter-spacing: -0.5px;
}

.title-value h4 {
    font-weight: 900;
    letter-spacing: -0.5px;
}

.title-value p, .title-value p a {
    color: #666666;
    margin: 0;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
}

.title-value p:before {
    color: #c2a661;
    font-size: 16px
}

.extendbackend-dashboard .box {
    box-shadow: 2px 6px 10px 0px #707070;
}


.extendbackend-dashboard .title {
    font-weight: 800;
    background: #d7d7d7;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 70px;
    /* color: black; */
    padding: 10px 14px;
    /* text-decoration: none; */
    /* border-bottom: 3px solid black; */
}

.extendbackend-dashboard .title h4 {
    line-height: 16px;
}
.extendbackend-dashboard .title a {
    text-decoration: none;
    color:black;
    font-size: 14px;
    font-weight: 800;
}


.extendbackend-dashboard .col .list {
    min-height: 300px;
    background: white;
    text-align: left;
    padding: 10px 14px;
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
}

.extendbackend-dashboard .list {

}
.extendbackend-dashboard .list a {
    color:black;
}